<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= typeof title !=='undefined' ? title + ' - ' : '' %>Abhishek Pathak - Developer Blog
    </title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="container">
        <header class="header">
            <div class="profile-section">
                <img src="https://placehold.co/600x400" alt="Abhishek Pathak" class="profile-image">
                <div class="profile-info">
                    <h1 class="name">Abhishek Pathak</h1>
                    <p class="title">Front-end developer</p>
                </div>
            </div>

            <nav class="navigation">
                <a href="/" class="nav-link">All posts</a>
                <a href="/category/html" class="nav-link">HTML</a>
                <a href="/category/css" class="nav-link">CSS</a>
                <a href="/category/js" class="nav-link">JavaScript</a>
                <a href="/post" class="nav-link">Add post</a>
                <a href="#" class="nav-link">Search</a>
            </nav>
        </header>
    </div>
</body>

</html>